Options All -Indexes
ErrorDocument 403 "Sorry can't allow you access today"
ErrorDocument 500 "INTERNAL SERVER ERROR"
ErrorDocument 404 /sitn/Body/404.php
<IfModule mod_rewrite.c>

	RewriteEngine on

	RewriteRule login\/([[a-z]+)\/?$ Body/login.php?$1 [NC]
	RewriteRule register\/([[a-z]+)\/?$ Body/login.php?register&$1 [NC]
	RewriteRule forgot\/([[a-z]+)\/?$ Body/login.php?forgot&$1 [NC]
	RewriteRule logout Body/include/logout.php [NC]
	
	RewriteRule ^faculty Body/login.php?f [NC]
	RewriteRule ^hod Body/admin_login.php?level=hod  [NC]
	RewriteRule ^principal Body/admin_login.php?level=principal  [NC]
	RewriteRule ^admin Body/admin_login.php?level=admin  [NC]


	RewriteRule ^([a-z]+)\/?$ Body/$1.php [NC]

	RewriteRule ^page\/([[a-z]+)\/?$ Body/index.php?page=$1 [NC]
	RewriteRule ^profile\/(.*)\/?$ Body/index.php?page=profile&search=$1 [NC]
	RewriteRule settings\/([[a-z]+)\/?$ Body/index.php?page=settings&settings=$1 [NC]

	

	
	
</IfModule>
