/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,body{
    height: 100%
}
body {
  padding-bottom: 60px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



/* MAIN 
------------------------------------------------ */
.main {
	width:70%;
	float: left;
   }


/*sidebar-right
----------------------------------------------- */
.sidebar-right {
	width: 30%;
	float: right;
}

/* footer
--------------------------------------------- */
#footer{
    background-color: #111;
    bottom: 0;
    height: 50px;
    left: 0;
    clear: both;
    right: 0;
}

#body{width:97%;align:center;margin: 0 auto;}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@media (max-width: 767px) {
  .main, .sidebar-right{width:100%; }
  .carousel, .carousel .item , .carousel-inner > .item > img {height: 250px;}
 
}