
#image_preview{
font-size: 30px;
top: 100px;
left: 100px;
width: 250px;
height: 230px;
text-align: center;
line-height: 180px;
font-weight: bold;
color: #C0C0C0;
background-color: #FFFFFF;
overflow: auto;
}
#selectImage{
padding: 19px 21px 14px 15px;
bottom: 0px;
width: 414px;
background-color: #FEFFED;
border-radius: 10px;
}
#pp{
text-align: center;
background-color: #FEFFED;
height: 70px;
color: rgb(95, 89, 89);
margin: 0 0 -29px 0;
padding-top: 14px;
border-radius: 10px 10px 0 0;
font-size: 35px;
}
#file {
color: red;
padding: 5px;
border: 5px solid #8BF1B0;
background-color: #8BF1B0;
margin-top: 10px;
border-radius: 5px;
box-shadow: 0 0 15px #626F7E;
margin-left: 15%;
width: 72%;
}

#success{
color:green;
}
#invalid{
color:red;
}
#line{
margin-top: 274px;
}
#error{
color:red;
}
#error_message{
color:blue;
}
#loading{
display:none;
top:50px;
font-size:25px;
}